@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GoshaSans";
  src: url("/fonts/GoshaSans/GoshaSans-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
